@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary {
  padding: 10px 20px;
  background-color: #1f2937;
  color: white;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
.btn-primary:hover {
  background-color: #4b5563;
}
